$main-font: 'Poppins', sans-serif
$grey: rgb(203, 205, 196)

body
    font-family: $main-font
    margin: 0 auto
.header 
    min-height: 100vh
    background-image: url('https://s6.ifotos.pl/img/mainsecon_qswxqpr.jpg')
    background-position: center
    background-size: cover
    position: relative
    .logo
        position: absolute
        display: inline
        top: 50px
        left: 50px
    .hello
        position: absolute
        left: 100px
        top: 120px
        display: inline
        max-height: 10vh
    nav
        .menu
            float: right
            padding: 20px 5px
            .menu-link
                transition: 1s 0.0s
                opacity: 0
                transform: matrix(1, 0, 0, 1, 50, 0)
            .menu-item
                display: inline-block
                font-size: 18px
                line-height: 18px
                padding: 15px 10px
                a
                    text-decoration: none
                    color: white
                    font-weight: bold
                    letter-spacing: 2px
                    display: none
                    &:hover
                        color: $grey
                .nav-icon
                    width: 35px
                    height: 18px
                    position: relative
                    margin-right: 15px
                    top: 18px
                    transition: 5s ease-in-out
                    span
                        background: white
                        width: 100%
                        height: 3px
                        position: absolute
                        display: block
                        opacity: 1
                    #first
                        top: 0
                        transition: transform .2s ease-in-out
                    #second
                        top: 7px 
                        transition: .2s ease-in-out
                    #third
                        top: 14px
                        width: 60%
                        right: 0 !important
                        transition: transform .2s ease-in-out
    .slogans
        color: white
        padding: 250px 100px 50px 100px
        font-size: 65px
        font-weight: 900
        letter-spacing: -3px
        .cursor
            opacity: 0
            transition: .2s
        .active
            opacity: 1
    .social-media
        padding: 30px 100px
        a
            margin-right: 40px
            &:hover
                text-decoration: none
            .fab
                font-size: 22px
                color: white
                &:hover
                    -webkit-animation-duration: .3s
                    animation-duration: .3s
                    -webkit-animation-timing-function: linear
                    animation-timing-function: linear
                    -webkit-animation-name: rotation
                    animation-name: rotation
                    -webkit-animation-iteration-count: infinite
                    animation-iteration-count: 1
                    transform-origin: center
                @keyframes rotation 
                    from 
                        -webkit-transform: rotate3d(0, 0, 1, 0deg)
                        transform: rotate3d(0, 0, 1, 0deg)
                    

                    to 
                        -webkit-transform: rotate3d(0, 0, 1, 360deg)
                        transform: rotate3d(0, 0, 1, 360deg)
                    cursor: pointer
                
    p
        color: $grey
        background-color: rgba(0, 0, 0, 0.3)
        padding: 30px 100px
        font-size: 18px
        font-weight: 900
        letter-spacing: 1px
    .arrow-down
        padding: 30px 150px
        a
            color: white
            text-decoration: none
            font-size: 36px
            .bounce-arrow
                position: relative
                top: 0
                animation: bounce 2s infinite
            @keyframes bounce
                0%, 20%, 50%, 80%, 100% 
                    transform: translateY(0)
                40%
                    transform: translateY(-30px)
                60%
                    transform: translateY(-15px)
    .triangle-left
        position: absolute
        left: 0
        bottom: 0
        height: 0
        border-bottom: 12vh solid white
        border-right: 22vw solid transparent
    .triangle-right
        position: absolute
        right: 0
        bottom: 0
        height: 0
        width: 0
        border-bottom: 12vh solid white
        border-left: 78vw solid transparent


.about-me
    padding: 100px 100px
    .section-title
        font-size: 48px
        font-weight: bold
        letter-spacing: -1px
        position: relative
        padding-bottom: 15px
        &:before
            content: ''
            width: 40px
            height: 2px
            background: black
            position: absolute
            left: 0
            bottom: 0
        &:after
            content: ''
            width: 30px
            height: 2px
            background: black
            position: absolute
            left: 0
            bottom: -6px
    p
        padding: 20px 0
        font-size: 22px
        font-weight: bold
        line-height: 32px

.skills
    padding: 30px 100px
    .section-title
        font-size: 48px
        font-weight: bold
        letter-spacing: -1px
        position: relative
        padding-bottom: 15px
        &:before
            content: ''
            width: 40px
            height: 2px
            background: black
            position: absolute
            left: 0
            bottom: 0
        &:after
            content: ''
            width: 30px
            height: 2px
            background: black
            position: absolute
            left: 0
            bottom: -6px
    .skills-container
        padding: 20px 30px
        .skills-element
            width: 32%
            display: inline-block
            overflow: hidden
            .skills-left
                display: inline-block
                width: 20%
                float: left
                min-height: 150px
                background-position: top
                background-size: contain
                background-repeat: no-repeat
            .first-skill
                background-image: url('https://s6.ifotos.pl/img/html5png_qswxqsa.png')
            .second-skill
                background-image: url('https://s6.ifotos.pl/img/CSS3svgpn_qswxqaa.png')
            .third-skill
                background-image: url('https://s6.ifotos.pl/img/JavaScrip_qswxqqp.png')
            .fourth-skill
                background-image: url('https://s6.ifotos.pl/img/rwdpng_qswnpen.png')
            .fifth-skill
                background-image: url('https://s6.ifotos.pl/img/photoshop_qswnpeq.png')
            .sixth-skill
                background-image: url('https://s6.ifotos.pl/img/gitlogopn_qswnpws.png')
            .seventh-skill
                background-image: url('https://s6.ifotos.pl/img/bootstrap_qswnpwq.png')
            .eigth-skill
                background-image: url('https://s6.ifotos.pl/img/jquerypng_qswnpsp.png')
            .skills-right
                width: 80%
                float: right
                display: inline-block
                min-height: 150px
                h2
                    font-weight: bold
                    font-size: 22px
                    padding-left: 10px
                    margin-block-start: 0
                    margin-block-end: 0
                    letter-spacing: -1px
                p
                    font-size: 14px
                    line-height: 18px
                    padding-left: 10px
                    letter-spacing: -1px
                    margin-block-start: 0
                    margin-block-end: 0
.portfolio
    padding: 20px 100px 100px 100px
    background-color: #f3f3f3
    min-height: 600px
    position: relative
    .section-title
        font-size: 48px
        font-weight: bold
        letter-spacing: -1px
        float: right
        position: relative
        padding-bottom: 15px
        &:before
            content: ''
            width: 40px
            height: 2px
            background: black
            position: absolute
            right: 0
            bottom: 0
        &:after
            content: ''
            width: 30px
            height: 2px
            background: black
            position: absolute
            right: 0
            bottom: -6px
    .triangle-left-top
        position: absolute
        left: 0
        top: 0
        height: 0
        border-bottom: 12vh solid white
        border-right: 22vw solid transparent
    .triangle-right-top
        position: absolute
        right: 0
        top: 0
        height: 0
        width: 0
        border-bottom: 12vh solid white
        border-left: 78vw solid transparent       
    .triangle-left-bottom
        position: absolute
        left: 0
        bottom: 0
        height: 0
        border-bottom: 12vh solid white
        border-right: 22vw solid transparent
    .triangle-right-bottom
        position: absolute
        right: 0
        bottom: 0
        height: 0
        width: 0
        border-bottom: 12vh solid white
        border-left: 78vw solid transparent




@media(max-width: 1200px)
    .header
        .slogans
            font-size: 50px
@media(max-width: 992px)
    .header
        nav
            .menu
                .menu-item
                    padding: 15px 5px
        .hello 
            left: 50px
        .slogans
            padding: 250px 50px 50px 50px
        p
            padding: 30px 50px
        .social-media
            padding: 30px 50px
@media(max-width: 767px)
    .header
        nav
            .menu
                position: relative
                right: 50px
                .menu-link
                    display: block
                .menu-item
                    .nav-icon
                        position: absolute
                        top: 50px
                        right: 20px