html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
}

.overlay-all-window {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 150;
}

.overlay-all-window img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  width: auto;
  margin: auto;
  -webkit-transition: .5s;
  transition: .5s;
}

.overlay-all-window p {
  color: #cbcdc4;
  position: absolute;
  font-size: 16px;
  left: 50%;
  top: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: .3s;
  transition: .3s;
}

.overlay-all-window .half {
  display: inline-block;
}

.overlay-all-window .left {
  background-color: black;
  width: 50%;
  height: 100%;
  padding: 0;
  -webkit-transition: .7s;
  transition: .7s;
  float: left;
}

.overlay-all-window .right {
  background-color: black;
  width: 50%;
  height: 100%;
  padding: 0;
  -webkit-transition: .7s;
  transition: .7s;
  float: right;
}

.backgroundToFixedNav {
  position: fixed;
  top: 0;
  z-index: 99;
  background: white;
  width: 100%;
  -webkit-box-shadow: 1.5px 1.33px 10px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 1.5px 1.33px 10px 0px rgba(0, 0, 0, 0.75);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header {
  min-height: 100vh;
  background-image: url("../Images/mainsecond.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

.header .logo {
  position: absolute;
  display: inline;
  top: 50px;
  left: 50px;
  height: 25px;
  width: auto;
}

.header .logoFixed {
  position: fixed;
  top: 10px;
  z-index: 100;
  -webkit-transition: .5s;
  transition: .5s;
}

.header .hello {
  position: absolute;
  left: 100px;
  top: 15vh;
  display: inline;
  max-height: 10vh;
}

.header nav .menuFixed {
  position: fixed;
  right: 0;
  top: -40px;
  z-index: 99;
  -webkit-transition: .5s;
  transition: .5s;
}

.header nav .menu {
  float: right;
  padding: 20px 5px;
}

.header nav .menu .menu-link {
  -webkit-transition: 1s 0.0s;
  transition: 1s 0.0s;
  opacity: 0;
  -webkit-transform: matrix(1, 0, 0, 1, 50, 0);
          transform: matrix(1, 0, 0, 1, 50, 0);
}

.header nav .menu .menu-item {
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  padding: 15px 10px;
}

.header nav .menu .menu-item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  display: none;
}

.header nav .menu .menu-item a:hover {
  color: #cbcdc4;
}

.header nav .menu .menu-item .linkFixed {
  color: black;
  -webkit-transition: .5s;
  transition: .5s;
}

.header nav .menu .menu-item .nav-icon {
  width: 35px;
  height: 18px;
  position: relative;
  margin-right: 15px;
  top: 18px;
  -webkit-transition: 5s ease-in-out;
  transition: 5s ease-in-out;
}

.header nav .menu .menu-item .nav-icon:hover {
  cursor: pointer;
}

.header nav .menu .menu-item .nav-icon span {
  background: white;
  width: 100%;
  height: 3px;
  position: absolute;
  display: block;
  opacity: 1;
}

.header nav .menu .menu-item .nav-icon #first {
  top: 0;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.header nav .menu .menu-item .nav-icon #second {
  top: 7px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.header nav .menu .menu-item .nav-icon #third {
  top: 14px;
  width: 60%;
  right: 0 !important;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.header nav .menu .menu-item .nav-icon .spanFixed {
  background: black;
}

.header nav .menu .menu-item .active {
  color: #cbcdc4;
}

.header .slogans {
  color: white;
  padding: 30vh 100px 10vh 100px;
  font-size: 65px;
  font-weight: 900;
  letter-spacing: -3px;
}

.header .slogans .cursor {
  opacity: 0;
  -webkit-transition: .2s;
  transition: .2s;
}

.header .slogans .active {
  opacity: 1;
}

.header .social-media {
  padding: 5vh 100px;
}

.header .social-media a {
  margin-right: 40px;
}

.header .social-media a:hover {
  text-decoration: none;
}

.header .social-media a .fab {
  font-size: 22px;
  color: white;
  cursor: pointer;
}

.header .social-media a .fab:hover {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: rotation;
  animation-name: rotation;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: 1;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

.header p {
  color: #cbcdc4;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 30px 100px;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 1px;
}

.header .arrow-down {
  padding: 30px 150px;
}

.header .arrow-down a {
  color: white;
  text-decoration: none;
  font-size: 36px;
}

.header .arrow-down a .bounce-arrow {
  position: relative;
  top: 0;
  -webkit-animation: bounce 2s infinite;
          animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

.header .triangle-left {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  border-bottom: 12vh solid white;
  border-right: 22vw solid transparent;
}

.header .triangle-right {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 0;
  width: 0;
  border-bottom: 12vh solid white;
  border-left: 78vw solid transparent;
}

.about-me {
  padding: 100px 100px 30px 100px;
}

.about-me .section-title {
  font-size: 48px;
  font-weight: bold;
  letter-spacing: -1px;
  position: relative;
  padding-bottom: 15px;
}

.about-me .section-title:before {
  content: '';
  width: 40px;
  height: 2px;
  background: black;
  position: absolute;
  left: 0;
  bottom: 0;
}

.about-me .section-title:after {
  content: '';
  width: 30px;
  height: 2px;
  background: black;
  position: absolute;
  left: 0;
  bottom: -6px;
}

.about-me p {
  padding: 20px 0;
  font-size: 22px;
  font-weight: bold;
  line-height: 32px;
}

.skills {
  padding: 50px 100px;
}

.skills .section-title {
  font-size: 48px;
  font-weight: bold;
  letter-spacing: -1px;
  position: relative;
  padding-bottom: 15px;
}

.skills .section-title:before {
  content: '';
  width: 40px;
  height: 2px;
  background: black;
  position: absolute;
  left: 0;
  bottom: 0;
}

.skills .section-title:after {
  content: '';
  width: 30px;
  height: 2px;
  background: black;
  position: absolute;
  left: 0;
  bottom: -6px;
}

.skills .skills-container {
  padding: 20px 30px;
}

.skills .skills-container .skills-element .skills-left {
  min-height: 200px;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

.skills .skills-container .skills-element .first-skill {
  background-image: url("../Images/html5.png");
}

.skills .skills-container .skills-element .second-skill {
  background-image: url("../Images/CSS.3.svg.png");
}

.skills .skills-container .skills-element .third-skill {
  background-image: url("../Images/JavaScript-logo.png");
}

.skills .skills-container .skills-element .fourth-skill {
  background-image: url("../Images/rwd.png");
}

.skills .skills-container .skills-element .fifth-skill {
  background-image: url("../Images/photoshop.png");
}

.skills .skills-container .skills-element .sixth-skill {
  background-image: url("../Images/git_logo.png");
}

.skills .skills-container .skills-element .seventh-skill {
  background-image: url("../Images/bootstrap.png");
}

.skills .skills-container .skills-element .eigth-skill {
  background-image: url("../Images/jquery.png");
}

.skills .skills-container .skills-element .skills-right {
  min-height: 150px;
}

.skills .skills-container .skills-element .skills-right h2 {
  font-weight: bold;
  font-size: 22px;
  padding-left: 10px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  letter-spacing: -1px;
}

.skills .skills-container .skills-element .skills-right p {
  font-size: 14px;
  line-height: 18px;
  padding-left: 10px;
  letter-spacing: -1px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.portfolio {
  padding: 10vh 30px;
  background-color: #f3f3f3;
  position: relative;
}

.portfolio .section-title {
  font-size: 48px;
  font-weight: bold;
  letter-spacing: -1px;
  float: right;
  position: relative;
  padding-bottom: 15px;
  padding-right: 70px;
}

.portfolio .section-title:before {
  content: '';
  width: 40px;
  height: 2px;
  background: black;
  position: absolute;
  right: 75px;
  bottom: 0;
}

.portfolio .section-title:after {
  content: '';
  width: 30px;
  height: 2px;
  background: black;
  position: absolute;
  right: 75px;
  bottom: -6px;
}

.portfolio .nav-portfolio {
  padding: 130px 100px 0px 100px;
  position: absolute;
  right: 0;
  z-index: 50;
}

.portfolio .nav-portfolio .nav-li-element {
  letter-spacing: -1px;
  padding: 5px;
  display: inline-block;
}

.portfolio .nav-portfolio .nav-li-element:hover {
  font-weight: bold;
  cursor: pointer;
}

.portfolio .nav-portfolio .active {
  font-weight: bold;
}

.portfolio .portfolio-all-sites .all-projects, .portfolio .portfolio-all-sites .all-sites {
  padding: 200px 30px 100px 30px;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  opacity: 1;
  display: block;
}

.portfolio .portfolio-all-sites .all-projects .project-element, .portfolio .portfolio-all-sites .all-sites .project-element {
  min-height: 250px;
  padding: 10px;
}

.portfolio .portfolio-all-sites .all-projects .project-element img, .portfolio .portfolio-all-sites .all-sites .project-element img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 2.5px 4.33px 111px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 2.5px 4.33px 111px 0px rgba(0, 0, 0, 0.75);
}

.portfolio .portfolio-all-sites .all-projects .project-element .overlay, .portfolio .portfolio-all-sites .all-sites .project-element .overlay {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: .5s;
  transition: .5s;
}

.portfolio .portfolio-all-sites .all-projects .project-element .overlay:hover, .portfolio .portfolio-all-sites .all-sites .project-element .overlay:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.portfolio .portfolio-all-sites .all-projects .project-element .play-site, .portfolio .portfolio-all-sites .all-sites .project-element .play-site, .portfolio .portfolio-all-sites .all-projects .project-element .code, .portfolio .portfolio-all-sites .all-sites .project-element .code {
  color: black;
  text-decoration: none;
  font-size: 25px;
  padding: 10px;
  width: 55px;
  text-align: center;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  bottom: 40px;
  left: 40px;
  -webkit-transition: .5s;
  transition: .5s;
}

.portfolio .portfolio-all-sites .all-projects .project-element .play-site:hover, .portfolio .portfolio-all-sites .all-sites .project-element .play-site:hover, .portfolio .portfolio-all-sites .all-projects .project-element .code:hover, .portfolio .portfolio-all-sites .all-sites .project-element .code:hover {
  background-color: black;
  color: white;
}

.portfolio .portfolio-all-sites .all-projects .project-element .code, .portfolio .portfolio-all-sites .all-sites .project-element .code {
  opacity: 0;
  z-index: -1;
}

.portfolio .portfolio-all-sites .all-sites {
  display: none;
  opacity: 0;
}

.portfolio .portfolio-all-sites .all-application {
  display: none;
  opacity: 0;
  font-size: 60px;
  padding: 200px 30px 100px 30px;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  min-height: 1000px;
}

.portfolio .triangle-left-top {
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  border-top: 12vh solid white;
  border-right: 78vw solid transparent;
}

.portfolio .triangle-right-top {
  position: absolute;
  right: 0;
  top: 0;
  height: 0;
  width: 0;
  border-top: 12vh solid white;
  border-left: 22vw solid transparent;
}

.portfolio .triangle-left-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  border-bottom: 12vh solid white;
  border-right: 22vw solid transparent;
}

.portfolio .triangle-right-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 0;
  width: 0;
  border-bottom: 12vh solid white;
  border-left: 78vw solid transparent;
}

.contact {
  padding: 30px 100px;
  position: relative;
  min-height: 70vh;
}

.contact .section-title {
  font-size: 48px;
  font-weight: bold;
  letter-spacing: -1px;
  float: right;
  position: relative;
  padding-bottom: 15px;
}

.contact .section-title:before {
  content: '';
  width: 40px;
  height: 2px;
  background: black;
  position: absolute;
  right: 0;
  bottom: 0;
}

.contact .section-title:after {
  content: '';
  width: 30px;
  height: 2px;
  background: black;
  position: absolute;
  right: 0;
  bottom: -6px;
}

.contact .row {
  padding-top: 100px;
  width: 100%;
  margin: 0;
}

.contact .row .contact-left h1 {
  font-size: 26px;
  font-weight: bold;
  letter-spacing: -1px;
  position: absolute;
  top: -100px;
}

.contact .row .contact-left form .row {
  padding: 0;
}

.contact .row .contact-left form .row .col-sm-6 {
  padding-left: 0;
  padding-right: 0;
}

.contact .row .contact-left form .row .col-sm-12 {
  padding-left: 0;
  padding-right: 0;
}

.contact .row .contact-left form .row input {
  width: 95%;
  border-bottom: solid black 1px;
  border-top: solid transparent 1px;
  border-left: solid transparent 1px;
  border-right: solid transparent 1px;
  color: black;
}

.contact .row .contact-left form .row input:focus {
  outline: 0;
}

.contact .row .contact-left form .row ::-webkit-input-placeholder {
  color: black;
}

.contact .row .contact-left form .row textarea {
  height: 20vw;
  width: 97.5%;
  margin-top: 30px;
  border-bottom: solid black 1px;
  border-top: solid transparent 1px;
  border-left: solid transparent 1px;
  border-right: solid transparent 1px;
  color: black;
}

.contact .row .contact-left form .row textarea:focus {
  outline: 0;
}

.contact .row .contact-left form .row ::-webkit-input-placeholder {
  color: black;
}

.contact .row .contact-left form button {
  padding: 15px 40px;
  font-size: 13px;
  border-radius: 4px;
  background: #000;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0;
  border: 0;
  margin-top: 30px;
}

.contact .row .contact-right {
  text-align: right;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: -1px;
  padding: 0;
}

.contact .row .contact-right .contact-social a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  margin-left: 20px;
  display: inline-block;
}

.contact .row .contact-right .contact-social a:hover {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: rotation;
  animation-name: rotation;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: 1;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

footer {
  padding: 70px 100px;
  background-color: black;
}

footer img {
  height: 25px;
  width: auto;
}

footer p {
  color: rgba(255, 255, 255, 0.4);
  line-height: 40px;
}

footer .footer-social {
  margin-top: 15px;
  text-align: center;
}

footer .footer-social a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  padding: 12px;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.15);
  margin-right: 10px;
  display: inline-block;
  width: 45px;
}

footer .footer-social a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: rotation;
  animation-name: rotation;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: 1;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

footer .footer-contact {
  text-align: right;
}

footer .footer-contact h3 {
  font-size: 25px;
  font-weight: bold;
  color: white;
  margin-bottom: 0;
}

footer .footer-contact p {
  line-height: 25px;
  margin-bottom: 0;
}

@media (max-width: 1200px) {
  .header .slogans {
    font-size: 50px;
  }
}

@media (max-width: 992px) {
  .header nav .menu .menu-item {
    padding: 15px 5px;
  }
  .header .hello {
    left: 50px;
  }
  .header .slogans {
    padding: 30vh 50px 50px 50px;
  }
  .header p {
    padding: 30px 50px;
  }
  .header .social-media {
    padding: 30px 50px;
  }
  .about-me {
    padding: 100px 30px 30px 30px;
  }
  .skills {
    padding: 50px 30px;
  }
  .portfolio .section-title {
    padding-right: 0px;
  }
  .portfolio .section-title:before {
    right: 0;
  }
  .portfolio .section-title:after {
    right: 0;
  }
  .portfolio .nav-portfolio {
    padding: 130px 30px 0px 100px;
  }
  .contact {
    padding: 30px 30px;
  }
  footer {
    padding: 50px 30px;
  }
  footer p {
    line-height: 30px;
    font-size: 14px;
  }
  footer .footer-contact h3 {
    font-size: 20px;
  }
  footer .footer-contact p {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 767px) {
  .header .logo {
    z-index: 100;
  }
  .header nav .menu {
    position: relative;
    width: 100%;
    padding: 0;
  }
  .header nav .menu .menu-link {
    display: block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
            transform: matrix(1, 0, 0, 1, 0, 0);
  }
  .header nav .menu .menu-item .nav-icon {
    position: absolute;
    top: 50px;
    right: 20px;
  }
  .header .slogans {
    font-size: 40px;
    padding: 250px 10px 50px 10px;
  }
  .header p {
    font-size: 16px;
    padding: 30px;
  }
  .portfolio .portfolio-all-sites .all-projects .project-element .code, .portfolio .portfolio-all-sites .all-sites .project-element .code {
    opacity: 1;
    left: 160px;
  }
  .contact .row .contact-left form input {
    margin-bottom: 20px;
  }
  footer p {
    text-align: center;
  }
  footer img {
    position: absolute;
    left: 50%;
    top: -10px;
    margin-right: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  footer .footer-contact p {
    text-align: right;
  }
}

@media (max-width: 576px) {
  .header nav .menu .menu-item .nav-icon {
    right: 0;
  }
  .header .hello {
    display: none;
  }
  .header .logo {
    left: 10px;
  }
  .about-me {
    padding: 50px 10px;
  }
  .about-me p {
    font-size: 16px;
  }
  .portfolio .portfolio-all-sites .all-projects .project-element .code, .portfolio .portfolio-all-sites .all-sites .project-element .code {
    opacity: 1;
    left: 100px;
  }
  .portfolio .nav-portfolio {
    padding: 130px 10px 0px 10px;
  }
  footer .footer-contact h3 {
    margin-top: 20px;
    text-align: center;
  }
  footer .footer-contact p {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */